.loginSign{
    float:right;
}
.signupSign{
    float:right;
}
.companyBox{
    border: 2px solid white;
    /*width:200px;*/
    height:200px;
    margin-top:15px;
    background-size:100% 100%;
    background-repeat:no-repeat;
}

.newComp{
    float:right;
    display:inline-block;
    margin-top:-51px;
    margin-right:10px;
}
.interview{
    line-height: 12px;
    width: 18px;
    margin-top: 0px;
    margin-right: 2px;
    position:absolute;
    top:0;
    right:0;
    /*margin-left:103px;*/
    /*margin-top:-56px;*/
}
.hired{
    /*margin-left:-14px;*/
    line-height: 12px;
    width: 18px;
    margin-top: 0px;
    margin-left: 2px;
    position:absolute;
    top:0;
    left:0;
}

.applied{
    line-height: 12px;
    /*width: 18px;*/
    margin-top: 0px;
    margin-left:-15px;
    position:absolute;
    bottom:0;
    width:100% !important;
}
.jobBtn{
    opacity: .7;
    width:100px;
    height:34px;
}
.company, .industry{
    opacity: 1 !important;
    font-weight:400;
}
.words{
    line-height: 12px;
    margin-left:-15px;
    position:absolute;
    margin-top:112px;
    width:100%;
    height:50px;
    color:black;
    border-radius: 25px;
    background-color:rgba(300,300,300,.6);

}

/*Popup*/

/* The Modal (background) */
.popout {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.popout-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.popout-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.popout-body {
    padding: 2px 16px;
height:50px;
    background-color:#5CB85C;
}

.popout-footer {
    height:65px;
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
.active {
    display: block;

}
.popout-btn{
    float:right;
}
.companySearch{
    font-size:18px;
    line-height: 18px;
    height: 45px;
    margin-top: 63px;
    margin-right: 78px;
    position: absolute;
    top: 0;
    right: 0;
}
.delete{
    line-height: 12px;
    margin-left:-15px;
    position:absolute;
    bottom:135px;
    width:100% !important;
}